.container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}

a:hover {
  color: rgb(43, 43, 43);
}

.app {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn {
  margin-top: 10px;
}

label {
  font-weight: 600;
  margin-top: 10px;
}

.form-check-input {
  margin-top: 15px;
}
