.container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.app {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
